/* Main Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #27ae60;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Resuable Components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
    text-align: center;
}

/* Headings Code */

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 3px;
    font-size: 240%;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: var(--green);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Paragraphs Code */

p {
    font-weight: 300;
}

.about-paragraph {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: left;
}

/* Buttons Code */

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-filled:link, .btn-filled:visited {
    background-color: var(--green);
    border: 2px solid var(--green);
    color: #fff;
    margin-right: 15px;
}

.btn-hollow:link, .btn-hollow:visited {
    border: 2px solid var(--green);
    color: #27ae60;
}

.btn:hover, .btn:active {
    background-color: #1e8449;
    border-color: #1e8449;
}

.btn-hollow:hover, .btn-filled:active {
    background-color: var(--green);
    border-color: var(--green);
    color: #fff;
}

.signup-button:link,
.signup-button:visited {
    border: 2px solid var(--green) !important;
    border-radius: 3px;
    padding: 10px 20px !important;
    transition: background-color 0.2s, border 0.2s !important;
}

.signup-button:hover,
.signup-button:active {
    background-color: var(--green);
}

/* Paragraphs Code */

.about-icon {
    color: var(--green);
    display: block;
    font-size: 350%;
    margin-bottom: 10px;
}

/* Header Code */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/dubai-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-text {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 130%;
}

.navigation {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.navigation li {
    display: inline-block;
    margin-left: 40px;
}

.navigation li a:link,
.navigation li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navigation li a:hover,
.navigation li a:active {
    border-bottom: 2px solid var(--green);
}

.travel-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Section Code */

/*
.city-showcase {
    list-style: none;
    width: 100%;
}

.city-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.city-image {
    width: 100%;
    margin: 0;
}

.city-image img {
    width: 100%;
    height: auto;
}*/

/* How it works section */

.how-it-works-section {
    background-color: #eafaf1;  
}

.how-it-works-top-row {
    margin-bottom: 60px;
}

.img-col img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.steps-col {
    padding-right: 40px;
    padding-left: 15px;
}

.how-it-works-steps {
    margin-bottom: 35px;
}

.how-it-works-steps div {
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    float: left;
    padding: 5px;
    margin-right: 20px;
}

.how-it-works-steps:last-of-type {
    margin-top: 50px;
}

.app-button img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* Top Cities Section */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.top-city-label {
    margin-bottom: 5px;
    text-align: left;
}

.top-city-label i {
    display: inline-block;
    width: 30px;
    font-size: 135%;
    line-height: 135%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 8px;
    color: var(--green)
}

/* Testimonials Section */

.testimonials-section {
    background-image: 
}