/* Main Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Resuable Components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* Headings Code */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* Buttons Code */

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-filled:link, .btn-filled:visited {
    background-color: #27ae60;
    border: 2px solid #27ae60;
    color: #fff;
    margin-right: 15px;
}

.btn-hollow:link, .btn-hollow:visited {
    border: 2px solid #27ae60;
    color: #27ae60;
}

.btn:hover, .btn:active {
    background-color: #1e8449;
    border-color: #1e8449;
}

.btn-filled:hover, .btn-filled:active {

}

.btn-hollow:hover, .btn-filled:active {
    color: #fff;
}

/* Header Code */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/dubai-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.travel-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}